%h1 Editing company

= simple_form_for @resource, url: companies_manage_path(@resource) do |f|
  .form-inputs
    = f.input :name
    = f.input :slug

  .form-actions
    = f.button :submit
= link_to 'Show', companies_manage_path(@resource)

\|
= link_to 'Back', companies_manage_index_path
