%h1 Listing companies

%table.table
  %thead
    %tr
      %th name
      %th slug
      %th{colspan: '3', width: '30%'} actions

  %tbody
    - @resources.each do |company|
      %tr
        %td= company.name
        %td= company.slug
        %td= link_to 'Show', companies_manage_path(company)
        %td= link_to 'Edit', edit_companies_manage_path(company)
        %td= link_to 'Destroy', companies_manage_path(company), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Company', new_companies_manage_path
